#Port No.
PORT=8000

#Database
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.w1h0m5z.mongodb.net

#Email Details
EMAIL_USER=<paste_your_email_address>
EMAIL_PASS=<paste_your_16-character_password_here>
CONTACT_EMAIL=<your_contact_email>

#Resend Mailer
RESEND_API_KEY=<your_api_key>
RESEND_FROM_EMAIL=<your_resend_onboard_email>

#Payment Gateway
CASHFREE_APP_ID=your_test_app_id
CASHFREE_SECRET_KEY=your_test_secret_key
CASHFREE_ENVIRONMENT=sandbox

#Gemini App Key
GEMINI_API_KEY=<your_key_here>